.task {
    width: 80%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.dataBlock {
    width: 20%;
    display: flex;
    align-items: center;
    margin: 0% 2% 0% auto;
}

.taskData {
    width: 70%;
}

#deleteTask {
    width: 30%;
    border: 1px solid black;

}

.completed {
    background-color: green;
    color: white;
}